*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #2d444b;
  text-align: center;
  height: 100vh;
}
.nav-app{
display: flex;  .app-title{
    color: rgb(231, 157, 60);
    font-size: 60px;
   }
   .logo{
     width: 60px;
     margin-left: 10px;
     font-size: 5px;
   }
}
.main-container{
  text-align: center;
  .todos-container{
    margin-top: 10px;
    width: 300px;
    .todos{
      border: rgba(231, 157, 60, 0.534) 5px solid;
      border-radius: 10px;
    }
    h5{
      color: whitesmoke;
      font-size: 30px;
      text-decoration: underline;
    }
    .item{
      background-color: rgb(203, 224, 224);
      border: black solid 1px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      p{
        font-size: 20px;
      }
      button{
        height: 30px;
        width: 60px;
        background-color: rgba(228, 127, 87, 0.692);
        border-radius: 20px;
        border: 0;
      }
    }
  }
  .todones-container{
    width: 300px;
    margin-top: 10px;
    .todones{
      border: rgba(231, 157, 60, 0.534) 5px solid;
      border-radius: 10px;
    }
    h5{
      color: whitesmoke;
      font-size: 30px;
      text-decoration: underline;
    }
    .item{
      background-color: rgb(203, 224, 224);
      border: black solid 1px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      p{
        font-size: 20px;
      }
      button{
        height: 30px;
        width: 60px;
        background-color: rgba(228, 127, 87, 0.692);
        border-radius: 20px;
        border: 0;
      }
    }
  }
}
.form-container{
  display: flex;
  margin-top: 10px;    
  .input-form{
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-right: 5px;
  }
  .submit-button{
    height: 30px;
    width: 60px;
    font-size: 100%;
    border: none;
    background-color: rgb(228, 127, 87);
    border-radius: 20px;
  }
}
